html{
    overflow: auto;
}
header{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}
p{
    font-size: 25px;
}
.columns{
    margin: auto;
}

/*******************HEADER************************/


/*******************LOGIN PAGE************************/
.background-image{
    height: 100%;
    min-height: 100vh;
    background: url('../img/goodback.png') no-repeat center fixed;
    background-size: cover;
}
#forms-c-r,#title{
    padding-top: 15%;
    min-height: auto;
    justify-content: space-around;
    width: 70%;
    margin : auto;
}
#connexion-form,#register-form{
    border-style: solid;
}

#connexion-form input[type="submit"],#register-form input[type="submit"]{
    margin-bottom: 15px;
}
#notif-login{
    margin-top: 13px;
    width: auto;
    margin-bottom: auto;
}
/*******************CONTENT************************/
#contenu{
    text-align: center;
}
/*******************HOME PAGE************************/

.background-color{
    height: 100%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
#home-title{
    padding-top: 10px;
    min-height: 100px;
}
#home-text{
    text-align: center;
    min-height: 150px;
}
.pseudo{
    text-align: left;
}
#rayan{
    align-items: center;
}
.off-button{
    pointer-events: none;
}
.button-width{
    width: 60%;
    background-size: 32px;
    background-position: right;
    background-repeat: no-repeat;
}
#enCours{
    background-image: url("../img/etat/T.ico") ;
}
#accepter{
    background-image: url("../img/etat/A.ico") ;
}
#refuser{
    background-image: url("../img/etat/R.ico") ;
}
#fermer{
    background-image: url("../img/etat/C.ico") ;
}

#form_filter{
    text-align: left;
}
.sujet{
    word-break: normal;
}

.notif-home{
    margin-left: 29%;
    margin-right: 29%;
}

/*******************PAGE NEW IDEA************************/


#form_idea{
    padding-top: 10%;
    min-height: auto;
    justify-content: space-around;
    width: 70%;
    margin : auto;
}

/*******************PAGE IDEA************************/

.comments{
    width: 80%;
    margin: auto;
}


/*******************USER MANAGEMENT************************/
.gestion_user_title {
    text-align: center;
    margin-top: 3%;
}

.gestion_user_block {
    margin: 5% 10% 10% 10%;
}

.infos {
    margin-left: 20%;
}

/*******************IDEA MANAGEMENT************************/

.idea_button {
    margin-left: 0em;
    text-align: center;
}

.table input {
    right: 0;
}

/*******************PROFILE************************/

.profil_status {
    text-align: center;

}

.image_profil {
    border: #0a0a0a 3px solid;
}
.image_profil_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2%;
}

.profil_basic_info {
    text-align: center;
    margin-top: 2%;
}
/*
.own-action-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.own-action-buttons {
    margin: 0 1% 0 1%;
}
*/
.own-action-buttons:hover {
    background-image: linear-gradient(120deg, #9ac0fc 0%, #a6c2ed 100%);
}

.footer {
    padding: 1em;
    margin-top: 5%;
    bottom: auto;
}

.footer p {
    text-align: center;

}

.user-card-handling {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    margin: 2% 30% 2% 30%;
    padding: 1%;
    border-radius: 10px;
}

.user-handling-button {
    float: right;
}

.notification-handling {
    margin: 1% 20% 0 20%;
}



.own-info-style {
    margin: 1% 0 1% 0;
    border-radius: 10px;
}
