html{
    overflow: auto;
}
header{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}
p{
    font-size: 25px;
}
.columns{
    margin: auto;
}

/*******************HEADER************************/


/*******************LOGIN PAGE************************/
.background-image{
    height: 100%;
    min-height: 100vh;
    background: url('../img/goodback.png') no-repeat center fixed;
    background-size: cover;
}
#forms-c-r,#title{
    padding-top: 15%;
    min-height: auto;
    justify-content: space-around;
    width: 70%;
    margin : auto;
}
#connexion-form,#register-form{
    border-style: solid;
}

#connexion-form input[type="submit"],#register-form input[type="submit"]{
    margin-bottom: 15px;
}
#notif-login{
    margin-top: 13px;
    width: auto;
    margin-bottom: auto;
}
/*******************CONTENT************************/
#contenu{
    text-align: center;
}
/*******************HOME PAGE************************/

.background-color{
    height: 100%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
#home-title{
    padding-top: 10px;
    min-height: 100px;
}
#home-text{
    text-align: center;
    min-height: 150px;
}
.nickname{
    text-align: left;
}
.off-button{
    pointer-events: none;
}
.button-width{
    width: 60%;
    background-size: 32px;
    background-position: right;
    background-repeat: no-repeat;
}
#submitted{
    background-image: url("../img/state/T.ico") ;
}
#accepted{
    background-image: url("../img/state/A.ico") ;
}
#refused{
    background-image: url("../img/state/R.ico") ;
}
#closed{
    background-image: url("../img/state/C.ico") ;
}

#form_filter{
    text-align: left;
}
.subject{
    word-break: normal;
}

.notif-home{
    margin-left: 29%;
    margin-right: 29%;
}

/*******************PAGE NEW IDEA************************/


#form_idea{
    padding-top: 10%;
    min-height: auto;
    justify-content: space-around;
    width: 70%;
    margin : auto;
}

/*******************PAGE IDEA************************/

.comments{
    width: 80%;
    margin: auto;
}


/*******************MANAGEMENT AND PROFILE************************/

.notification-handling {
    margin: 1% 20% 0 20%;
}

.card-theme {
    margin: 2% 30% 2% 30%;
    border-radius: 10px;
}

.blue-gradient-color {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.status-green {
    color: green;
}
.status-red {
    color: red;
}

/*******************FOOTER************************/

.footer {
    padding: 1em;
    margin-top: 5%;
    bottom: auto;
}

/*******************MEDIA QUERIES************************/
@media (max-width: 800px) {
    .card-theme {
        margin: 2% 3% 2% 3%;
        border-radius: 10px;
    }
}